{% extends "base.html.twig" %}

{% set account = content.account %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">

                <a href="{{ path("account_list") }}">Back</a>

                {% include "_messages.html.twig" %}

                <h1>{{ account.number }}</h1>
                <div><strong>Balance:</strong> {{ account.balance|number_format(2, ",", " ") }} Kč</div>
                <div><strong>Owner:</strong> {{ account.owner }}</div>
                <div><strong>Bank:</strong> {{ account.bank.name }}</div>

                <a href="{{ path("transactions_upload", {"id": account.id}) }}">Upload transactions</a>

                <div class="js-transactions-list" data-load-url="{{ path("load_transactions") }}" data-account="{{ account.id }}">
                    {% include "transactions/_list_section.html.twig" with {
                        "list": content.transactionList
                    } %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}