{% extends "base.html.twig" %}

{% set account = content.account %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">

                <a href="{{ path("account_list") }}">Back</a>

                {% include "_messages.html.twig" %}

                <h1>{{ account.number }}</h1>
                <div><strong>Balance:</strong> {{ account.balance|number_format(2, ",", " ") }} Kč</div>
                <div><strong>Owner:</strong> {{ account.owner }}</div>
                <div><strong>Bank:</strong> {{ account.bank.name }}</div>

                <a href="{{ path("transactions_upload", {"id": account.id}) }}">Upload transactions</a>

                {% for transaction in content.transactionList.transactions %}
                    <div class="card mt-2 mb-2">
                        <div class="card-body">
                            <div>{{ transaction.dateOfIssue|date("j. n. Y") }}</div>
                            <div>{{ transaction.label }}</div>
                            <div>{{ transaction.type }}</div>
                            <div><strong>{{ transaction.amount|number_format(2, ",", " ") }} Kč</strong></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}